// ---------------------------------------------------------------
// | RESET
// ---------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

// ---------------------------------------------------------------
// | CONTAINERS
// ---------------------------------------------------------------

.container {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
}

// ---------------------------------------------------------------
// | FONTS
// ---------------------------------------------------------------

body {
    font-family: 'Roboto', sans-serif;
}

// ---------------------------------------------------------------
// | BUTTONS
// ---------------------------------------------------------------

.button {
    padding: 0.5em 4em;
    background-color: $primary-accent;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
}

.button-signup {
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
    border: 0.2em solid $primary-accent;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

// ---------------------------------------------------------------
// | STYLE
// ---------------------------------------------------------------

.center {
    text-align: center;
}