// ---------------------------------------------------------------
// | FOOTER
// ---------------------------------------------------------------

footer {

    .footer-bg {
        background-image: url(../images/footer-bg.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2em;
        overflow: hidden;

        .container {
            position: relative;

            .footer-nav {
                width: 50%;

                .footer-logo {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    img {
                        transform: scale(0.8);
                    }
                }

                .flex {
                    align-items: flex-start;

                    .col {
                        width: calc(100% / 4);
    
                        ul {
                            color: #fff;
                            padding-bottom: 1em;
    
                            .list-title {
                                text-transform: uppercase;
                                font-size: 16px;
                                font-family: 'Roboto Condensed', sans-serif;
                            }
    
                            a {
                                color: #949494;
                                font-size: 9px;
                                line-height: 8px;
                                font-weight: 300;
                                text-decoration: none;
                            }                 
                        }
                    }
                }

                .footer-copyright {
                    color: #949494;
                    font-size: 9px;
                    font-weight: 300;

                    a {
                        color: $primary-accent;
                        text-decoration: none;
                    }
                }
            }    
        }
    }

    .footer-signup {
        background-color: $primary-fill;
        padding: 2em;

        .flex {
            justify-content: space-between;

            ul {
                li {
                    font-family: 'Roboto Condensed', sans-serif;
                    color: $primary-accent;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 16px;
                    padding-left: 1em;

                    img {
                        height: 1.5em;
                        width: 1.5em;
                    }
                }
            }
        }       
    }
}